/* .buttonCheckout{
    width: 100% !important;
    margin: 20px 20px !important;
    height: 3.5rem !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    border: none !important;
    color: white !important;
} */