.layout {
  background-color: white;
}

.headerIcons {
  font-size: 35px;
  height: auto;
  border: none;
  background-color: white;
}

.leftSideHeader {
  font-size: 20px;
  height: auto;
  border: none;
  color: #a7a7a7;
}

.rootContuner {
  max-width: 1400px;
  margin: auto;
}

.logoAndSearch {
  order: 0;
}

.iconsHeader {
  order: 1 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.iconsHeader a:not(:last-child) {
  margin-right: 30px !important;
}

.avatarImg {
  float: right;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  order: 0;
}

.headerContainer {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.avatarDiv {
  float: right;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  order: 1;
}

.hidenIcons {
  display: flex;
}

.logo2 {
  display: none;
  padding: 25px !important;
}

.searchHeader {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 35px;
  width: 100% !important;
  font-size: 15px;
}

.avatarIHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartIcon .ant-select-selector {
  padding: 0px 0px !important;
  border: 0px !important;
}

.teansparentText {
  border: 1px solid transparent;
  border-image: linear-gradient(270deg, #55a4cc, #afda1a);
  border-image-slice: 2;
  border-radius: 7px;

  background: linear-gradient(270deg, #55a4cc, #afda1a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.teansparentText:hover {
  border:0px;
  color: white;
  background: white;
  -webkit-text-fill-color: white;
}

.divCard div {
  padding: 0px !important;
}

.nav-search-input {
  border-radius: 11px;
  background-color: #fbfbfb !important;
  border: none !important;
}

.logoImg {
  margin: 20px !important;
  width: auto !important;
}

.search-input {
  border-radius: 11px;
  background-color: #fbfbfb !important;
  border: none !important;
  
}

.search-input input {
  border-radius: 11px;
  background-color: #fbfbfb !important;
  border: none !important;
}

@media screen and (max-width: 655px) {
  .iconsHeader a:not(:last-child) {
    margin-right: 10px !important;
  }

  .logoImg {
    display: none;
  }

  .searchHeader {
    width: 100px !important;
    height: 35px;
    font-size: 10px;
  }

  .logo2 {
    height: 100px;
    width: 100px;
    display: block;
  }

  .headerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .rootContuner {
    max-width: 100%;
    margin: auto;
  }

  .logoImg {
    padding: 25px !important;
  }

  .avatarImg {
    order: 0;
    margin-right: 0px;

  }

  .iconsHeader {
    order: 0;
    font-size: 20px;

  }

  .hidenIcons {
    display: none;
  }

  .ant-image {
    display: flex;
  }

  .logoAndSearch {
    display: flex;
    align-items: center;
  }

  .avatarImg {
    align-items: center;
  }

  .avatarIHeader {
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .iconsHeader a:not(:last-child) {
    margin-right: 5px !important;
  }

  .searchHeader {
    width: 150px !important;
    height: 35px;
    font-size: 15px;
  }

  .avatarIHeader {
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
  }

  .headerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .rootContuner {
    max-width: 100%;
    margin: auto;
  }

  .hidenIcons {
    display: none;
  }

  .headerIcons {
    font-size: 20px;
  }

  .avatarDiv {
    order: 0;
    margin-right: 0px;
  }
}

:where(.css-dev-only-do-not-override-1u34xut).ant-row-middle {
  align-items: center !important;
  justify-content: space-between !important;
}