.storys {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    /* overflow: hidden; */
}

.storys::-webkit-scrollbar {
    display: none;
}

.userName {
    position: absolute;
    top: 186px;
    left: 55px;
    color: aliceblue;
    font-size: 0.7rem;
}

.userImg {
    position: absolute;
    top: 185px;
    left: 20px;
}
.storyImg{
    height: 349.5px;
    width: 194.5px;
    margin: 10px;
}